# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Database
/prisma/*.db
/prisma/*.db-journal

# Large Assets
*.rar
*.zip
*.7z
/Petrov_eng_nedziaga/
/lt-eng-app.rar
